


.title {

    color: red;




}

.subtitle {

    color: blue;

}


.description {
    color: yellow;


}

.headerlinks {
    color: orange;


}
.LI-profile-badge {
    border-block-color: 3,2;
    


}